
@{
    @model IEnumerable<SendSms>
    ViewData["Title"] = "Send";
}


    <div class="right-wrapper">
        <div class="container">
            <div class="row">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close-btn" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body pb-5">
                                <p>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    <p>SON GÖNDƏRİLƏNLƏR</p>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="search-btn">
                        <input type="text" placeholder="AXTARIŞ ET">
                        <div class="image-search">
                            <img src="~/images/Group 11.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 text-center">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SMS Başlığı</th>
                                <th scope="col">Həkim Sayı</th>
                                <th scope="col">Tarix</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="click-tbody">
                            <partial name="_MessagesPartialView" model="Model" />
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="row-count">
                        <p>SƏTİRLƏRİN SAYI: 12</p>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="nav-pagination">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

@{ 

    double result = ViewBag.Count / 10;
    var a = ViewBag.Count % 10;
    if (a != 0)
    {
        result++;
    }
    if (result == 0)
    {
        result = 1;
    }
}

@section Scripts{
    <script type="text/javascript">
    $(function () {
        window.pagObj = $('#pagination').twbsPagination({
            totalPages: @result,
            visiblePages: 6,
            prev: "ƏVVƏL",
            next: "SONRA",
            first: false,
            last: false,
            onPageClick: function (event, page) {
                event.preventDefault();
                 $.ajax({
                     url: "/AJAX/LoadMessages?skip=" + (page - 1) * 10,
                     type: "GET",
                     success: function (res) {
                         $("table tbody").html(res);
                     }
                 });
            }
        })
    });
    </script>

}

